<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= csrf_meta_tag %>
  <style type="text/css">
    body {
      font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
      color: #080603;
    }
    a {
      text-decoration: none;
      color: #68962c;
    }
    .container {
      width: 500px;
      margin: 0 auto;
    }
    .header {
      border-bottom: 1px solid #ddd;
    }
    .header a {
      display: inline-block;
      padding: 4px 10px;
      background-color: #eee;
    }
    
    .flash {
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
    }
    .flash.notice {
      color: #68962c;
    }
    .flash.error {
      color: #c00e0e;
    }
    
  </style>
</head>
<body>

<div class="container">

  <div class="header">
    <h1 class="title">Green Eggs &amp; Spam Demo</h1>
    <%= link_to "play with eggs", eggs_path %> 
    <%= link_to "send a comment", new_comment_path %>
  </div>

  <%= content_tag(:p, flash[:notice], :class => 'flash notice') if flash[:notice] %>
  <%= content_tag(:p, flash[:error], :class => 'flash error') if flash[:error] %>

  <%= yield %>

</div>

</body>
</html>
