<h2>New Egg</h2>

<% if 0 < @egg.errors.to_a.length %>
  <p class="flash error">
    <b>Errors:</b><br/>
    <%= @egg.errors.to_a.join("<br/>").html_safe %>
  </p>
<% end %>

<%= form_for @egg do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %> 
  </p>
  <p>
    <%= anti_spam_form %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %> 